*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
}
body{
overflow-x: hidden;
}
h4{
  color: white;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  align-items: center;
  top: -200px;
}

ul{
  list-style: none;
  color: white;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.bg-image{
  background-color: black;
  height: 100vh;

}
.bg-image img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  position: absolute;
  top:0;
  opacity: .2;
  height: 100vh;
  width: 100%;
}
.title{
  color: white;
  text-align: center;
  position: absolute;
  top:0;
  margin-left: 40%;
  margin-top: 10%;
  padding:5px;
}
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      background-color: grey;

}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color:white;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color:white;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.scroll{
  margin-top: -6%;
  margin-left: 50%;
}
/* the button */
.the-button-wrapper {
position: relative;
width: 165px;
height: auto;
line-height: 1.5;
padding: 0;
text-align: center;
cursor: pointer;
}

.the-button-wrapper {
margin: -7px auto 0 auto;
}

@media all and (min-width: 1920px) {
  .the-button-wrapper {
    width: 205px;
    margin: -4px auto 0 auto;
  }
}

@media only screen and (max-width: 640px) {
  .the-button-wrapper {
    width: 165px;
  }
}

.the-button,
.the-button-purchase {
position: relative;
font-size: 10px;
font-weight: 500;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.10em;
color: #db0018;
background: none;
padding: 9px 40px 0 40px;
margin-top: 10px;
-webkit-border-radius: 0;
   -moz-border-radius: 0;
    -ms-border-radius: 0;
     -o-border-radius: 0;
        border-radius: 0;
}

@media all and (min-width: 1920px) {
  .the-button,
  .the-button-purchase {
    font-size: 11px;
    letter-spacing: 0.25em;
	padding: 11px 40px 0 40px;
  }
}

@media only screen and (max-width: 640px) {
  .the-button,
  .the-button-purchase {
    font-size: 10px;
	letter-spacing: 0.10em;
  }
}

.the-button:hover:before,
.the-button-purchase:hover:before {
width: 100%;
}

.the-button:hover:after,
.the-button-purchase:hover:after {
width: 100%;
}

.the-button::before,
.the-button-purchase::before {
content: "";
position: absolute;
width: 15px;
height: 38px;
top: -2px;
left: -6px;
border: 1px solid #db0018;
border-right: none;
-webkit-transform: translateZ(0);
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

@media all and (min-width: 1920px) {
  .the-button::before,
  .the-button-purchase::before {
    width: 20px;
    height: 47px;
	top: -5px;
  }
}

@media only screen and (max-width: 640px) {
  .the-button::before,
  .the-button-purchase::before {
    width: 15px;
	height: 38px;
	top: -2px;
  }
}

.the-button::after,
.the-button-purchase::after {
content: "";
position: absolute;
width: 15px;
height: 38px;
top: -2px;
right: -6px;
border: 1px solid #db0018;
border-left: none;
-webkit-transform: translateZ(0);
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

@media all and (min-width: 1920px) {
  .the-button::after,
  .the-button-purchase::after {
    width: 20px;
    height: 47px;
	top: -5px;
  }
}

@media only screen and (max-width: 640px) {
  .the-button::after,
  .the-button-purchase::after {
    width: 15px;
	height: 38px;
	top: -2px;
  }
}
.next h4{
  color: black;
  padding-top: 5%;
  font-weight:lighter;
  font-size: 30px;
}
.next h6{
  font-weight:lighter;
  font-size: 15px;
  padding-bottom: 10px;
}
.verticalLine {
  border-left: thin solid black;
  margin-left: 20%;
}
.home-wrapper{
  font-weight:lighter;
  font-size: 15px;
  margin: 40px;
}
.home-wrapper img {
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 10px;
  padding-right: 11px;
}
.home-wrapper h3{
  position:relative;
  left: 5%;
  bottom: -30px;
}
.home-wrapper p {
  margin-left: 40px;
}
.home-wrapper .hero-img {
	position: relative;
	padding: 0 15px;
}
.home-wrapper p{
  margin-top: 25px;
}
.qqq{
  margin-top:5%;
  margin-left: 5%;
}

.list{
  padding-bottom: 70px;
}
.next h6{
  margin-left: 65px;
}
hr{
  width: 20%;
  height: 1px;
  color: red;
  background-color: red;
  border: none;
}
.empty {
  position: relative;
  left: 90%;
  height: 1px;
  top:-85px;
  width: 20%;

}
.skills h4{
  color: black;
  font-weight:lighter;
  font-size: 30px;
}
.skills{
    margin-bottom:30px;
}
.head{
  margin-top:3%;

}
.head h6{
  font-weight:lighter;
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 50px;
}
.head p {
  padding-left: 50px;
}
.images{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 10%;
}
center p {
  text-align:right;
  margin-right:20%;
}
.vl {
  border-left: 1px solid red;
  height: 50px;
  margin-left: 48%;
}
.zed {
  position: relative;
  top: -70px;

}
.projects h4{
  color: black;
  font-weight:lighter;
  font-size: 30px;
  margin-top: -5px;
  margin-bottom:
}
.wat{
  position: relative;
  right: -50px;
}
.head2 h6{
  font-weight:lighter;
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 50px;
}
.head2 p {
  padding-left: 50px;
}
.head2 img{
  margin-left: 50%;
  position: relative;
  top: -60px;
}
.bodyhead h6{
  color: black;
  font-weight:lighter;
  font-size: 15px;
}
.content{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
}
.imgC{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 50px;
}
.git{
  display: none;
}
