* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  position: relative;
  background-color: rgb(44, 0, 0);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-image: url("https://www.grammy.com/sites/com/files/styles/news_detail_header/public/turntable-1109588_1280.jpg?itok=1Slg1Lf8");
  background-size: cover;
}

.display-1 {
  font-size: 250%;
}

.bold-font {
  font-weight: 700;
}

.title {
  position: absolute;
  top: 10px;
  margin-top: 10%;
  width: 100%;
}
.cv{
  margin-left: 37.5%;
  margin-top: 5%;
 }
@media (min-width: 320px) and (max-width: 480px) {
  .title {
    margin-top: 50%;
    font-size: 7px;
  }

  nav ul li {
    font-size: 10px;
    justify-content: center;
  }

  .header::before {
    height: 50%;
  }
  .cv{
    position:relative;
    top: 110%;
    right: 5%;
    padding-top: 45px;
  }
  .display-1 {
    font-size: 450%;
  }
  .toop-panel{
    display: none;
  }
  .profile-image{
    width: 100%;
  }
}

/* End of Header */

.profile {
  margin-top: 60px;
}
.profile h4 {
  margin: 0;
}

.profile h6 {
  font-size: 18px;
  opacity: 0.5;
  margin: 0;
}
.img-fluid{
  height: 300px;
  border-radius: 20px;
}
.btn-primary {
  background-color: brown !important;
}
.skills h1{
  margin-top: 55px;
}
.projects {
  margin-top: 300px;
}
.icons {
  position: relative;
  top: 60px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    background-image: url("https://www.grammy.com/sites/com/files/styles/news_detail_header/public/turntable-1109588_1280.jpg?itok=1Slg1Lf8");
    background-size: cover;
  }
}
/* scroll indicator  */

.top-panel::before{
  content: 'I';
  color: #fff;
  position: absolute;
  opacity: 0.5;
  text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
  width: 6rem;
  font-size: 2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  bottom: 2rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

.top-panel {
  width: 100%;
  background: #111;
  position: relative;
  top: 45px;
}
/* second scroll indicator  */
.toop-panel::before{
  content: 'I';
  color:  brown;
  position: absolute;
  opacity: 0.5;
  text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
  width: 6rem;
  font-size: 2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  bottom: 2rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

.toop-panel {
  width: 100%;
  background: #111;
  position: relative;
  top: 100px;
}


